extends layout

block content
 ul
      each message in messages
        li
          strong= message.user  
            = ' - ' + message.text + ' (added on ' + message.added.toLocaleDateString() + ')'

  
